@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Geist";
  src: url("/font/Geist-v1.4.01/otf/geist-regular.otf") format("opentype"),
       url("/font/Geist-v1.4.01/ttf/geist-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/font/Geist-v1.4.01/webfonts/Geist-Regular.woff2') format('woff2'),
         url('/font/Geist-v1.4.01/webfonts/Geist-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/font/Geist-v1.4.01/webfonts/Geist-Bold.woff2') format('woff2'),
         url('/font/Geist-v1.4.01/webfonts/Geist-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* Tambahkan aturan font-face lain untuk semua varian jika diperlukan */
